<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642912518946-4ki2d32o3hc7948n2ofod7lnrhj8plku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642912518946-4ki2d32o3hc7948n2ofod7lnrhj8plku</string>
	<key>API_KEY</key>
	<string>AIzaSyCsTuQHuyKNo9lBxMgmANTZsgyOgz87ht8</string>
	<key>GCM_SENDER_ID</key>
	<string>642912518946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>danovise.quiz-project-gh</string>
	<key>PROJECT_ID</key>
	<string>quiz-project-gh</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-project-gh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642912518946:ios:bfc69643c28f6e025a5b7b</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-project-gh-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>